* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    overflow-y: scroll;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3f51b5;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #C5CAE9;
}
.navholder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 185px;
}
.logoHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70px;
    width: fit-content;
}
.logo{
    height: 40px;
}
.logoCaption{
    color: white;
    font-size: 25px;
    
    font-weight: 900;
    margin-left: 10px;
}
.navlinks, li{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.links{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 17px;
    border-radius: 7px;
    margin-left: 7px;
}
.links:hover{
    background-color: rgb(50 50 50);
}
.links:active{
    background-color: black;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F51B5;
    height: 280px;
    width: 100%;
}
.heroContainer{
    width: 100%;
    height: 140px;
}
.firstHero{
    text-align: center;
    font-family: poppins, sans-serif;
    color: white;
    font-size: 70px;
    font-weight: bolder;
    width: fit-content;
    margin: 0 auto;
}
.secondHero{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    width: fit-content;
    margin: auto;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 250px;
    width: 100%;
}
.forOption{
    display: flex;
    justify-content: space-around;
    margin: 0 25px;
    width: 100%;
    height: fit-content;
}
.employers{
    height: 160px;
    width: 745px;
    background-color: #C5CAE9;
    border-radius: 10px;
    padding: 20px;
    line-height: 32px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
.devEmp{
    font-size: 30px;
    font-weight: 700;
}
.devCaption{
    font-size: 16px;
    margin-bottom: 15px;
}
.browse{
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
.add{
    text-align: center;
    text-decoration: none;
    background-color: #303F9F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
.jobsSection{
    background-color: #eff6ff;
    width: 100%;
}
.jobHead{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80px;
}
.headTitle{
    color: #303F9F;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}
.jobBodies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    background-color: #eff6ff;
}
.jobs{
    background-color: white;
    height: 350px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 20px;
    overflow: hidden;
}
.jobDetails{
    overflow: hidden;
    height: 230px;
}
.jobType{
    font-size: 17px;
    font-weight: 100;
    color: rgb(100 100 100);
}
.jobWant{
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
}
.details{
    font-size: 17px;
    color: rgb(30 30 30);
    margin-top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.showMore{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(100 100 100);
}
.jobPay{
    color: #3F51B5;
    font-size: 18px;
    margin-top: 10px;
}
.hr{
    border: 1px solid rgb(243 243 243);
    margin-top: 10px;
}
.locationHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.locationDetails{
    display: flex;
    align-items: center;
}
.locationLogo{
    height: 25px;
}
.location{
    font-size: 18px;
    color: orange;
}
.readMore{
    text-align: center;
    text-decoration: none;
    background-color: #3F51B5;
    color: white;
    padding: 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303F9F;
    height: 140px;
    width: 100%;
}
.footerBtn{
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}







.search{
    width: 100%;
    padding: 20px 40px 0 40px;
    background-color: #eff6ff;
}
input{
    /* margin: 20px 20px; */
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(200 200 200);
    font-size: 17px;
    padding: 0 20px;
}
input:focus{
    border: 1px solid blue;
    outline: blue;
}
.jobHead{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80px;
    background-color: #eff6ff;
}
.headTitle{
    color: #303F9F;
    font-size: 35px;
    font-weight: 800;
}
.jobBodies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap: 60px 0;
    padding: 20px 0;
}







form{
    width: 42%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    height: 1300px;
    padding: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    line-height: 40px;
    overflow: hidden;
}
.addJob{
    font-size: 31px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}
.labelCap{
    font-size: 18px;
    font-weight: 600;
    color: rgb(80, 80, 80);
}
select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 10px;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    font-size: 17px;
    height: 130px;
    padding-left: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}
.formBtn{
    padding: 10px;
    background-color: #3f51b5;
    border: none;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}